site_name: matf3d
site_url: https://matf3d.art
site_description: Documentation for matf3d plugins and tools

theme:
  name: material
  logo: images/logo.svg
  palette:
    scheme: slate
    primary: black
    accent: cyan
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy

extra_css:
  - stylesheets/extra.css
  - stylesheets/media.css

nav:
  - Home: index.md
  - MarmosetBridge:
    - marmosetbridge/index.md
    - Installation: marmosetbridge/installation.md
    - Getting Started: marmosetbridge/getting-started.md
    - Features: marmosetbridge/features.md
    - Workflows: marmosetbridge/workflows.md
    - Changelog: marmosetbridge/changelog.md
  - Quick Layer Namer:
    - quick-layer-namer/index.md
    - Installation: quick-layer-namer/installation.md
    - Usage: quick-layer-namer/usage.md
    - Changelog: quick-layer-namer/changelog.md