site_name: matf3d.art
site_url: https://matf3d.art
site_description: Documentation for matf3d Blender plugins and tools

theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: cyan
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy

extra_css:
  - stylesheets/extra.css